<!-- Troll ChatVisionZ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- Title -->
    <title>Pizzagram</title>

    <!-- Css -->
    <link rel="stylesheet" href="pizzagram.css">
</head>

<body>
    <div class="header">
        <div class="logo">
          <img src="pizzagramlogo.png" alt="Logo">
        </div>
        <div class="actions">
          <a href="" class="login">Login</a>
          <a href="" class="signup-button">Register</a>
        </div>
    </div>
    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <div class="overlay-body">
                <!-- Titolo -->
                <img src="pfpnuge.jpg" style="height: auto; width: 200px; border-radius: 50%; margin-top: -200px">
                <p class="overlay-title">Stai per visitare il profilo di <span class="blue-text">Scriv0suiP3ni</span></p>
                <!-- Descrizione -->
                <p class="overlay-description">Per seguire questo account è necessario accedere, se invece desideri solo fare una breve visita accedi come guest (la tua sessione di guest scadrà dopo 20 minuti)</p>
                <!-- Bottoni -->
                <div class="overlay-buttons-wrapper">
                    <div id="accept-button" class="overlay-button" disabled>Login</div>
                    <div id="decline-button" class="overlay-button" disabled>Login as Guest</div>
                </div>     
            </div>
        </div>
    </div>
    <!-- divisore del jumpscare -->
    <div class="jumpscare">
        <video id="video" class="video" src="video.mp4" loop disabled></video>
    </div>
    
    <!-- Scripts -->
    <script src="index.js"></script>
</body>

</html>
